@font-face {
    font-family: 'Netflix_Sans';
    src: url(NetflixSans-Bold.woff2) format('woff2');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Netflix_Sans";


}

body {
    background-color: black;
}

.main {
    height: 65vh;
    background-image: url(../assets/bg.jpg);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: max(100vw, 2200px);

}

.black_box {
    height: 65vh;
    background-color: black;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}


.container {
    display: flex;
    max-width: 65vw;

    height: 170px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;


}

.logo {
    margin-left: 5px;
    align-items: center;

}

.logo img {
    height: 4vh;

}

.nav_button {
    display: flex;
}

.container_btn {
    margin-right: 5px;
    border-radius: 7px;
    background-color: red;
    color: white;
    font-weight: 700;
    padding: 7px 12px 7px 12px;

}

.container_btn_lan {
    margin-right: 5px;
    border-radius: 5px;

    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: 700;
    padding: 7px 12px 7px 12px;
}

.container_btn:hover {
    background-color: rgb(182, 4, 4);
    cursor: pointer;
}

.container_btn_lan:hover {
    background-color: rgb(182, 4, 4);
    cursor: pointer;
}

.hero {
    height: 100%;
    display: flex;
    font-family: 'Netflix_Sans';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.input_button {
    margin-top: 20px;
    display: flex;
    align-items: center;

}

.hero>:nth-child(1) {

    color: white;
    --hero_header_font: 60px;
    font-size: var(--hero_header_font);

}

.hero>:nth-child(2) {
    padding-top: 15px;
    color: white;
    --hero_child_2: 20px;
    font-size: var(--hero_child_2);
    font-weight: 500;
    margin-bottom: 0.5rem;

}

.hero>:nth-child(3) {
    --hero_child_3: 16px;
    color: white;
    font-size: var(--hero_child_3);
    font-weight: 400;

}

.hero input {

    padding: 10px 70px 10px 20px;
    border-radius: 3px;
    border: 1px solid white;
    background-color: rgba(23, 23, 23, 0.41);
    font-size: 12px;
    font-weight: 400;
    color: white;


}

.hero input:hover {
    background-color: rgba(23, 23, 23, 0.649);
    cursor: pointer;
}

.hero input::placeholder {
    color: white;
    opacity: 0.7;
}

.hero button {

    margin: 10px;
    max-width: 200px;
    border-radius: 4px;
    background-color: red;
    color: white;
    font-weight: 700;
    padding: 9px 40px 9px 25px;
    font-size: 20px;
}

.hero button:hover {
    background-color: rgb(182, 4, 4);
    cursor: pointer;
}

.separator {

    border-bottom: 9px solid #2e2c2c;

}


.section {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70vw;
    margin: auto;

}

.section .text {

    color: white;
    font-size: 48px;
}

.section .text> :nth-child(2) {
    font-size: 24px;
    justify-content: center;
}

.media {
    position: relative;

}

.section .media> :nth-child(2) {
    position: absolute;
    top: 100px;
    right: 88px;
    width: 468px;


}

.section.three .media> :nth-child(1) {
    position: relative;
    z-index: 10;
    height: 350px;
    width: 600px;

}

.section.three .media> :nth-child(2) {
    top: 50px;
    right: 82px;
    width: 440px;

}

.faq {
    display: flex;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

.faq>:nth-child(1) {
    font-size: 48px;
    color: white;
}

.faq :not(:nth-child(1)) {
    background-color: #2d2d2d;
    color: white;
    font-size: 24px;
    transition: all 0.5s ease;
}

.faq :not(:nth-child(1)):hover {
    background-color: #1b1b1b;
    cursor: pointer;

}

.faq div {
    display: flex;
    width: 45vw;
    height: 6vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5vw;
}

footer {
    padding-top: 50px;
    height: 25vh;
    width: 80vw;
    margin: auto;
    font-size: 20px;

}

.contact {
    padding-top: 25px;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content:space-between;


}

footer div {
    color: white;
}

.contact div {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.contact div a {
    color: white;
    font-size: 16px;
}

.menu_button {
    display: none;
}

.phone_menu{
    display: none;
}

.phone_menu.active{

    color: white;
    position: relative;
    
}

.phone_menu_big{
    
    display: none;
}

.phone_menu_big.active{
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    align-items: center;
    justify-content: space-between;
}







.nav_button> :first-child{
    display: flex;
    flex-direction: column;
    align-items: ;
}

.nav_button> :nth-child(2){
    display: flex; 
    flex-direction: column;
    gap: 10px;
    
  
}










@media (max-width:1200px) {
    .section {
        flex-wrap: wrap;
    }

    .section.one> :first-child,
    .section.three> :first-child {
        padding-top: 50px;
        padding-left: 150px;

    }

    .section .text> :nth-child(1) {
        font-size: 30px;
    }

    .section .text> :nth-child(2) {
        font-size: 15px;
    }

    .section.two> :nth-child(2),
    .section.four> :nth-child(2) {
        padding-bottom: 60px;
    }

    .faq {
        height: 30vh;
    }

    .contact div {
        gap: 0px;
    }

    footer> :nth-child(1) {
        margin-bottom: 50px;
    }

    footer {
        height: 15vh;
    }

    .input_button {
        display: flex;
        flex-direction: column;
    }

    .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }



}


@media (max-width:1100px) {

    .container {
        max-width: 90vw;
    }

    .container span img {
        width: 100px;
    }


    .hero>:nth-child(1) {


        font-size: var(--hero_header_font);
        font-size: calc(var(--hero_header_font) - 15px);

    }

    .hero>:nth-child(2) {

        font-size: calc(var(--hero_child_2) - 5px);

    }

    .hero>:nth-child(3) {

        font-size: calc(var(--hero_child_3) - 5px);
        font-weight: 400;

    }

    .section.one .text> :nth-child(1) {
        white-space: nowrap;
    }

    .section {
        flex-wrap: wrap;
    }

    .section.one> :first-child,
    .section.three> :first-child {
        padding-top: 50px;
        padding-left: 40px;

    }



    .section .text> :nth-child(1) {
        font-size: 30px;
    }

    .section .text> :nth-child(2) {
        font-size: 15px;
    }

    .section.two> :nth-child(2),
    .section.four> :nth-child(2) {
        padding-bottom: 60px;
    }


    .faq {
        display: flex;
        height: 60vh;
        flex-direction: column;
        align-items: center;


        gap: 30px;
    }

    .faq> :nth-child(1) {
        margin-right: 90px;
        white-space: nowrap;
        font-size: 27px;
        color: white;
    }

    .faq :not(:nth-child(1)) {
        background-color: #2d2d2d;
        color: white;
        font-size: 20px;
        transition: all 0.5s ease;
    }

    .faq :not(:nth-child(1)):hover {
        background-color: #1b1b1b;
        cursor: pointer;

    }

    .faq div {
        display: flex;
        width: 70vw;
        height: 6vh;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.5vw;
    }

    footer {
        padding-top: 50px;
        height: 25vh;
        width: 80vw;
        margin: auto;
        font-size: 15px;
    }

    footer {
        height: 30vh;
    }


    footer> :nth-child(1) {
        margin-bottom: 10px;
    }

    .contact div a {

        font-size: 10px;
    }

    .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    .input_button {
        display: flex;
        flex-direction: column;
    }

    .lang {
        display: none;
    }

    .media_lang {
        display: block;
    }

    .menu_button {
        display: block;
    }

    .phone_menu.active{
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    
}

.hero.active{
    margin-top: 12vh;
}


}